<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<p class="text font-weight-bold">Pr&oacute;ximas citas</p>
			<ul id="lista-proximas-citas" class="list-group mb-4"></ul>
			<p class="text font-weight-bold">Citas Anteriores</p>
			<ul id="lista-citas-pasadas" class="list-group mb-4"></ul>
		</div>
		<div class="col">
			<p class="text font-weight-bold">Pedir cita</p>
			<div class="card mb-4">
				<div class="card-body">
					<button type="button" class="btn btn-primary">Pedir Cita</button>
					<button type="button" class="btn btn-secondary float-right">Cancelar
						Cita</button>
				</div>
			</div>
			<p class="text font-weight-bold">Calendario</p>
			<table cellspacing='0' cellpadding='0' align=center border='none'
				width='100%'>
				<td align=center bgcolor='#0090c0'></td>
				<td colspan=5 align=center bgcolor='#0090c0'><font size='3'
					face='Tahoma'>Feb 2021 </td>
				<td align=center bgcolor='#0090c0'></td>
				</tr>
				<tr>
					<td><font size='3' face='Tahoma'><b>S</b></font></td>
					<td><font size='3' face='Tahoma'><b>M</b></font></td>
					<td><font size='3' face='Tahoma'><b>T</b></font></td>
					<td><font size='3' face='Tahoma'><b>W</b></font></td>
					<td><font size='3' face='Tahoma'><b>T</b></font></td>
					<td><font size='3' face='Tahoma'><b>F</b></font></td>
					<td><font size='3' face='Tahoma'><b>S</b></font></td>
				</tr>
				<tr>
					<td></td>
					<td valign=top><font size='2' face='Tahoma'>1 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>2 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>3 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>4 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>5 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>6 <br>
					</font></td>
				</tr>
				<tr>
					<td valign=top><font size='2' face='Tahoma'>7 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>8 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>9 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>10 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>11 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>12 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>13 <br>
					</font></td>
				</tr>
				<tr>
					<td valign=top><font size='2' face='Tahoma'>14 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>15 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>16 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>17 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>18 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>19 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>20 <br>
					</font></td>
				</tr>
				<tr>
					<td valign=top><font size='2' face='Tahoma'>21 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>22 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>23 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>24 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>25 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>26 <br>
					</font></td>
					<td valign=top><font size='2' face='Tahoma'>27 <br>
					</font></td>
				</tr>
				<tr>
					<td valign=top><font size='2' face='Tahoma'>28 <br>
					</font></td>
				</tr>
			</table>
		</div>
	</div>
	<img src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
		onload='crearTablaCitasActivas();crearTablaCitasPasadas();this.parentNode.removeChild(this);'>
</div>