<!DOCTYPE html>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div id="label-cuerpo-menu-lateral" name="label-cuerpo-menu-lateral">
				<div id="div-cita" name="div-cita">
					<p id="p-cita" name="p-cita" value="cita"
						onClick="getComponente('cita','contenido');bold(this);importCitas();"
						onkeyup = "crearTablaCitas();"
						style="cursor: pointer;">Cita</p>
				</div>
				<div id="div-mensajes" name="div-mensajes">
					<p id="p-mensajes" name="p-mensajes" value="Mesajes"
						onClick="getComponente('mensajes','contenido');bold(this)"
						style="cursor: pointer;">Mensajes</p>
				</div>
				<div id="div-diagnosticos" name="div-diagnosticos">
					<p id="p-diagnosticos" name="p-diagnosticos" value="Diagnosticos"
						onClick="getComponente('diagnosticos','contenido');bold(this)"
						style="cursor: pointer;">Diagn&oacute;sticos</p>
				</div>
				<div id="div-perfil" name="div-perfil">
					<p id="p-perfil" name="p-perfil" value="Perfil"
						onClick="getComponente('perfil','contenido');bold(this)"
						style="cursor: pointer;">Perfil</p>
				</div>
				<div id="div-medicacion" name="div-medicacion">
					<p id="p-medicacion" name="p-medicacion" value="Medicacion"
						onClick="getComponente('medicacion','contenido');bold(this)"
						style="cursor: pointer;">Medicaci&oacute;n</p>
				</div>
			</div>
		</div>
	</div>
</div>