<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link href="css/login.css" rel="stylesheet" />
<title>CLINICA RIVES MORA</title>
</head>
<body>
<header>
    <div class="container-fluid clearfix mt-3">
        <h1 id="logo" class="text-primary" >CLINICA RIVES MORA</h1>
    </div>
</header><!-- /header -->
	<div class="login-page">
		<div class="form">
			<form class="login-form">
				<input type="text" placeholder="username" id="loginuser" /> 
				<input type="password"	placeholder="password" id="logininputpassword" />
				<input type="text"	placeholder="Num. Colegiado" id="numColegiado" />
				<button id="buttonLogin" name="buttonLogin">login</button>
				<p class="message">
					No registrado? <a href="#">Crear nueva cuenta</a>
				</p>
			</form>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/login.js"></script>
</body>
</html>