<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Paciente</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/paciente.css">
</head>
<body onload="init()">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 border-right">
				<div class="container-fluid">
					<div class="row">
						<div class="col w-100 pl-3 pt-4">
							<img src="img/logo.png" alt="logo" width="150" height="50"></img>
						</div>
					</div>
					<div class="row">
						<div id="datos-paciente" class="w-100 pl-5 pt-5"></div>
					</div>
					<div class="row">
						<div id="datos-medico" class="w-100 pl-5"></div>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="container-fluid">
					<div class="row justify-content-md-center">
						<div class="col">
							<p id="saludo" class="h3 pt-4 pl-5 text-secondary"></p>
						</div>
						<div class="col col-lg-2">
							<div id="perfil" class="container-fluid pt-4">
								<div class="row">
									<div class="col">
										<img src="img/logo.png" alt="logo" width="100" height="25"></img>
									</div>
								</div>
								<div class="row">
									<div class="col ">
										<small><b id="nombre-perfil">Nombre Apellido</b></small>
									</div>
								</div>
								<div class="row">
									<div class="col text-secondary">
										<small>NNSS: 123456789</small>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/paciente.js"></script>
</body>
</html>