<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Paciente</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/paciente.css">
<link rel="stylesheet" href="css/detalleCita.css">
</head>
<body onload="init()">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 border-right">
				<div class="container-fluid">
					<div class="row">
						<div class="col w-100 pl-3 pt-4">
							<img src="img/logo.png" alt="logo" width="150" height="50"></img>
						</div>
					</div>
					<div class="row">
						<div id="cabecera-menu-lateral" class="w-100 pl-5 pt-5"></div>
					</div>
					<div class="row">
						<div id="cuerpo-menu-lateral" class="w-100 pl-5"></div>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="container-fluid">
					<div class="row justify-content-md-center">
						<div class="col">
							<p id="saludo" class="h3 pt-4 pl-5 text-secondary"></p>
						</div>
						<div class="col col-lg-3">
							<div id="perfil" class="container-fluid pt-4">
								<div class="row" onclick="getComponente('perfil','contenido');"
									style="cursor: pointer;">
									<div class="col-sm-1 mt-1">
										<img src="img/user.png" alt="logo" width="25" height="25"></img>
									</div>
									<div class="col ">
										<p class="text h4 small">
											<small><b><span id="nombre-paciente"></span></b></small> <br />
											<small><b>NNSS: </b><span id="nnss"></span></small>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div id="contenido"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="modal" class="modal">
			<div id="modal-content" class="modal-content mt-3"></div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/paciente.js"></script>
	<div id="fragment-scripts"></div>
</body>
</html>